extend ./layouts/master
block title
 Registration
block content 
 .col-sm-6
  h3 Registration
  form(action='/register', method='post')
   .form-group 
    label(for="name") Fullname 
    input.form-control(name="name" id="name")
   .form-group
    label(for="username") Username
    input.form-control(name="username" id="username")
   .form-group
    label(for="password") Password
    input.form-control(name="password" id="password" type="password") 
   button(class="btn btn-primary") Register

