<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.minty.min.css">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
  <div class="container-fluid">
    <div class="container">
       <div class="row" style="margin-top: 20vh">
            <div class="col-sm-4 offset-sm-4">
                {{#if message}}
                  <p class="text-danger"> {{ message }}</p>
                {{/if}}
                <form method="post" action ="/login">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input class="form-control" name="username">                        
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary form-control" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  </body>
</html>
