html 
 head 
  title 403 Forbidden
 body 
  .contianer
   .row
    .col-sm-12 
     div(class="alert alert-dismissible alert-danger")
      h3 403 Forbidden
      p You are forbidden to view this page