html 
 head 
  title Admin Page 
  link(rel="stylesheet" href="/css/litera.bootstrap.min.css")
 body 
  .container 
   .row 
    .col-sm-12 
     h2= header
     p= content
     a(href="/csrf-form-test" class="btn btn-primary") Go Back