html 
 head
  title 
   block title
    | Auth App  
  link(rel="stylesheet", href="/css/litera.bootstrap.min.css")  
 body 
  .container-fluid
   .row
    .col-sm-12(style="padding: 0; margin: 0")
     include ../partials/header  
  .container
   .row 
    block content
   .row
    include ../partials/footer
