extend master  
block title 
  title User Profile  
block content   
  .col-sm-12
    h3 User Profile
  .col-sm-12
  .col-sm-1
    p 
      strong Name 
    p 
      strong Email
    p 
      strong Website
  .col-sm-6
    p= username 
    p= email 
    p= website

       